.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.modal.open {
  /* 모달이 열릴 때의 위치 */
  transform: translateY(0);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-opened-body {
  /* 모달이 열린 경우 body에 스크롤을 막음 */
  overflow: hidden;
}
