// {
//   "env": {
//     "browser": true,
//     "worker": true
//   },
//   "globals": {
//     "self": "readonly"
//   },
//   "rules": {
//     "no-restricted-globals": ["error", "self"]
//   }
// }
